{% extends 'temp/base.html' %}
{% load static %}
{% block title %}About-us{% endblock %}
{% load bootstrap3 %}
{% load bootstrap_toolkit %}
{% block content %}

<div class="container">
    <div class="row-fluid"> 
           <div class="span8"> 
                <div class="panel panel-default">  
                <div class="panel-heading">
                        <h3><i class="fa fa-calendar"></i>  About AgriDSS</h3>
                    </div> 
                <div class="panel-body">     
                <p> Nyeri County is well known for its agricultural production in Kenya thus forming a food basket for Kenya. The county is also productive in terms of agricultural performance and thus these natural resources ought to be safeguarded and right farm practices encouraged to ensure continuous sustainability of these resources.</p>
                <p>This thus gives the need to develop systems to allow good governance of the agricultural sector.</p>
                <p> Nyeri County is one of the 47 counties in Kenya and is located in the central region of the country. It covers an area of 2,475.4 Km2 and is situated between longitudes 36038‖ east and 37020‖east and between the equator and latitude 00 380 south. It borders Laikipia County to the north, Kirinyaga County to the east, Murang‘a County to the south, Nyandarua County to the west and Meru County to the northeast.</p>
                <p>Nyeri County lies in the Central Highlands. It has a total area of 987.5 Km2 and 758.5 Km2 of arable and non-arable land respectively. The larger part of the land is used for food crop while the rest is used for cash crop farming, livestock rearing and farm forestry. The mean holding size is one hectare for majority of the small holders.</p>
                <p>Over 85 per cent of farmers have title deeds for their land as adjudication started early after independence. The main reason for lack of the title deeds by some farmers is domestic wrangles while other landowners in settlement schemes have not cleared their loans.</p>
                </div>
             </div>  
             <div class="copy-area">
            <h4>Our Address</h4>
            <p>We are located at the county offices, Mukurwe-ini</p>
            <p>
                <i class="icon-map-marker pull-left"></i> Mwakenya Lane, Nyeri<br>
                Karaba, 1212,  Kiharo
            </p>
            <p>
                <i class="icon-envelope"></i> &nbsp;info@agridss.com
            </p>
            <p>
                <i class="icon-phone"></i> &nbsp;+254 719 696921
            </p>
            <p>
                <i class="icon-globe"></i> &nbsp;http://www.agridss.com
            </p>
        </div> 
            </div>
        
      
        </div>

        <hr>
    </div>
{% endblock %}