{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% load bootstrap3 %}

{% load bootstrap_toolkit %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="span9" align="center">
                <h2>Biztrac Business Center.A solution for many.</h2>
            </div>
            <hr>
            <div class="span9" align="center">

            	<h3>Your account activation was Successfull</h1>
        		<p>Tell us more about yourself.This can be done by filling in the form found <a href="/customer_portal/">Here</a>  </p>
            </div>
            <hr>
            <br>
            <br>
            <div class="span9" align="center">
                <p>When you need to depend on data, you can depend on Hoover’s for complete and actionable information. Whether you are looking for leads, researching companies or industries, or searching for a way to keep your CRM up-to-date, Hoover’s offers a range of options.</p>
            
        	</div>
        </div>
    </div>
</div>
<br>
<div class="container">
  <div class="row">
          <div class="col-md-4">            
            <div class="span6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-calendar"></i>  Products</h4>
                    </div>
                    <div class="panel-body">
                        <p>A group of GIS proffessionals and land administration professionals initiated the development of the pilot land administration model system that facilitates the quick and efficient set-up of land processes such as search, registrattion and change of use/lease.Just like social issues benefit from proper land administration,land administration systems themselves benefit from proper data standards.</p>
                        
                        <hr>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4">            
            <div class="span9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-leaf"></i>  Services</h4>
                    </div>
                    <div class="panel-body">
                        <p>A group of GIS proffessionals and land administration professionals initiated the development of the pilot land administration model system that facilitates the quick and efficient set-up of land processes such as search, registrattion and change of use/lease.Just like social issues benefit from proper land administration,land administration systems themselves benefit from proper data standards.</p>
                        
                        <hr>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4">            
            <div class="span9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-rocket"></i>  Consultancy</h4>
                    </div>
                    <div class="panel-body">
                        <p>A group of GIS proffessionals and land administration professionals initiated the development of the pilot land administration model system that facilitates the quick and efficient set-up of land processes such as search, registrattion and change of use/lease.Just like social issues benefit from proper land administration,land administration systems themselves benefit from proper data standards.</p>
                        
                        <hr>
                    </div>
                </div>
            </div>
          </div>
  </div>
</div>
{% endblock %}