{% extends 'application_portal/base.html' %}
{% block content %}
<div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav"> 
                    <li class="nav-header">Important links</li>
                    <ul class="nav nav-list">
                        <li><a href="/ladm/search/">View Parcel map</a> </li>
                        <li><a href="/ladm/apply/">Submit applications</a> </li>
                    </ul>     
                </div>                 
            </div>
            <div class="span9"> 
      
				<h3>Thanks for contacting us!.</h3>
				<p>We will get back to you as soon as possible !!</p>
            </div>
        </div>
    </div>
      
{% endblock %}

